

.row {

    width: 100%;
    
    display:flexbox;
   
}



.img {

    display: inline-block;
}



.col-md-2{

   
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius:  5px 
    border: none;
    text-align: left;
    border-color: transparent;
    background-color: rgb(136, 124, 239);


   
    
}


.card.text-center {
  
    border-width: 2px;

   

}

h7 {
    text-align: left;
}


img {
    max-width: 50%;
    display: inline-block;
    align-items: center;
}

button {
   background-color: rgb(108, 108, 237);

   color: rgb(255, 255, 255);
   border-radius: 5px;
   border: none;
   margin: 1px;
  
  
  
}

.weather-search {
    width: 100%;
    color: rgb(5, 34, 150);

    

}

.aside {
    width: 100%;
    display: flex;
}

.search-button {
    color: rgb(255, 255, 255);
   
}

.form-input{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 1px;
    border-color: aqua;
}

.input-group-append {

    background-color: rgb(73, 92, 215);
    width: 100%;
    border-radius: 5px;
    


}

#clear-search {
    background-color: rgb(217, 145, 227);
}

form {
  
   width: max-content;
}




.card, h2, h3, h4, h5, h6 {
    color:  rgb(8, 8, 162);
}

.card.text-center {

   
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius:  4px 
    border-width: 2px;
    background-image: url(../images/rainydayz.jpg);
    background-repeat: repeat;
    background-size: 60%;
    border-color:   rgb(8, 8, 162);

  
}

.weather-header {
    background-color: rgb(136, 124, 239);

   /* background: radial-gradient(circle, rgb(255, 255, 255), rgb(0, 80, 210)); */
}

body {

    
   
    background-image: url(../images/cloudbk-seamless.jpg);
    background-repeat:repeat;
    background-size: 99.99%;
}

h1 {
    font-family: 'Rubik Bubbles', system-ui;
    color:white;
    font-size: 500%;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:  rgb(8, 8, 162);
}



h2, h3, h4, h5, h6, h7 {
    font-family: 'Fredoka', sans-serif;
}

footer {
    text-align: center;
}

button:active {
    border-color:#002ead;
   
}